<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="/src/assets/img1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Teclado mecanico</h5>
            <p class="card-text">KNUP 2051/5052 con 12 teckas multimedia e iluminacion led a 180bs</p>
            <a routerLink="/carrito" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/src/assets/img3.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Teclado Redragon</h5>
            <p class="card-text">K551RGB-1 Spanish MITRA black a 417bs</p>
            <a routerLink="/carrito" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="/src/assets/img2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Auriculares</h5>
            <p class="card-text">cloud pro gaming con control de audio para ps4 a 564bs</p>
            <a routerLink="/carrito" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/src/assets/img4.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Auriculares</h5>
            <p class="card-text"> headset gamer 7.1 c/ vibracion compatible para pc/ps3/ps4 a 220 bs</p>
            <a routerLink="/carrito" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="/src/assets/img9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Combo 4en 1</h5>
            <p class="card-text"> mouse, auricular, teclado y mousepad de la marca REDRAGON a 580 bs</p>
            <a routerLink="/carrito" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/src/assets/img6.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">MOUSE GAMER</h5>
            <p class="card-text">Mouse rw-2 rowell Tiene luces led, 6 botones + scroll a 65 bs</p>
            <a routerLink="/carrito" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>